* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("imgs/matrix.png") no-repeat center center / cover;
  filter: blur(1.75rem);
  z-index: -1;
}

body {
  font-family: 'Fira Code', monospace;
  background: radial-gradient(circle at top left, #050c09, #000000);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  font-size: clamp(0.95rem, 2vmin, 2rem);
}

canvas {
  background: transparent;
}

figure {
  display: flexbox;
  text-align: center;

  figcaption {
    font-size: clamp(0.85rem, 1.75vmin, 1.1rem);
    color: #aaa;
    margin-top: 0.95rem;
    text-align: center;
  }
}

h1 {
  background: #16221dad;
  border-bottom: 0.25rem solid #00ffaa;
  padding: 1rem;
  text-align: center;
  border-radius: 0.75rem 0.75rem 0 0;
  font-size: clamp(2rem, 5vmin, 4rem);
  color: #00ffaa;
  text-shadow: 0 0 0.3125rem #00ffbf;
  transform-origin: center;
  animation:
    translateOscillate 5s ease-in-out infinite,
    rotateOscillate 3s ease-in-out infinite;
}

section {
  margin-top: 0.85rem;
  background-color: #111111da;
  border: 0.125rem solid #333333bb;
  border-radius: 1rem;
  padding: 2.5rem;
  max-width: 50rem;
  width: 100%;
  box-shadow: 0 0 1.25rem rgba(0, 255, 150, 0.3);

  h2 {
    font-size: clamp(1rem, 3vmin, 2.25rem);
    color: #66ffcc;
    margin-bottom: 1rem;
  }

  ul {
    margin: 1.5rem 0;
    padding-left: 1.5rem;
    list-style: disc;

    li {
      margin-bottom: 0.95rem;
      color: #ccc;
      line-height: 1.6;
      font-size: clamp(1.1rem, 1vmin, 1.25rem);
    }
  }

  p {
    margin-bottom: 1rem;
    color: #bbb;
    line-height: 1.6;
    font-size: clamp(1.2rem, 1vmin, 1.4rem);

    strong {
      color: #36cc86;
      font-weight: 600;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 2rem;
    font-size: clamp(0.95rem, 2vmin, 0.95rem);
    color: #666;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background: radial-gradient(circle at top left, #3b3e42, #354637);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0.8;
  padding-top: 0.205rem;

  A {
    position: absolute;
  }

  .status {
    font-size: clamp(0.8rem, 2vmin, 1.125rem);
    font-family: 'Fira Code', monospace;
    color: #33ff81;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
  }

  .status:hover {
    color: #66ffcc;
  }
}

.img-style {
  border-radius: var(--rad, 0.65rem);
  box-shadow: 0 0 0.75rem rgba(0, 255, 150, 0.25);
}

.img-inter {
  transform: rotate(-1.05deg);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
}

.img-inter:hover {
  transform: scale(1.05) rotate(0deg);
  opacity: 1;
}

.img {
  position: fixed;
  width: var(--size, 20rem);
  height: var(--size, 20rem);
  z-index: 2;
}

.img-top-left {
  @extend .img;
  top: var(--y, 0rem);
  left: var(--x, 0rem);
}

.img-top-right {
  @extend .img;
  top: var(--y, 0rem);
  right: var(--x, 0rem);
}

.img-bottom-left {
  @extend .img;
  bottom: var(--y, 0rem);
  left: var(--x, 0rem);
}

.img-bottom-right {
  @extend .img;
  bottom: var(--y, 0rem);
  right: var(--x, 0rem);
}

@keyframes translateOscillate {
  0% {
    transform: translateY(-0.2rem)
  }

  100% {
    transform: translateY(-0.2rem)
  }
}

@keyframes rotateOscillate {
  0% {
    transform: rotate(-0.3deg) translateY(-0.2rem)
  }

  50% {
    transform: rotate(0.3deg)
  }

  100% {
    transform: rotate(-0.3deg) translateY(-0.2rem)
  }
}

@media (orientation: portrait) {
  .hide-if-tall {
    display: none;
  }
}